<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Profile</title>
    {% load static %}
</head>

<body style="background-color: black">
    <div class="container">

        {% if messages %}
        {% for message in messages %}
        {%if 'reg_error' in message.extra_tags %}
        <div class="alert alert-danger">{{ message }}</div>
        {% endif %}
        {% endfor %}
        {% endif %}

        <nav class="navbar navbar-expand-lg navbar-light bg-light"
            style="height:100px; background-image: linear-gradient(to right,black,  darkred , slateblue, black)" ;>
            <img src="strike2.jpg" alt="">
            <a class="mr-2" href="/"><img style="width: 220px" src="{% static 'images/strikersb.png' %}"
                    alt="graffiti-fonts" border="0"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link text-light " style="font-size: 17px" href="#">Purchase <span
                                class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" style="font-size: 17px" href="/to_profile">My Profile</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-light " style="font-size: 17px" href="#"
                            id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            Info
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/about">About Us</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/contact">Contact Us</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/hiw">How Does It Work?</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Leaderboard</a>
                        </div>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn text-light  my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>

        <div class="jumbotron m-0 text-center" style="background-color: black">
            <div class="col-5 rounded d-inline-block align-top text-light pl-5 pr-5 mr-5 pt-2">
                <h2>Shipping</h2>
                <form action="/shipping_submit" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="form-group form-inline col-6 p-0">
                            <label for="shipping_first_name">First Name:</label>
                            <input type="text" name="shipping_first_name" class="form-control-sm"
                                id="shipping_first_name" placeholder="Enter first name">
                        </div>
                        <div class="form-group form-inline col-6 p-0">
                            <label for="shipping_last_name">Last Name:</label>
                            <input type="text" name="shipping_last_name" class="form-control-sm" id="shipping_last_name"
                                placeholder="Enter last name">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="shipping_address">Street Address:</label>
                        <input type="text" name="shipping_address" class="form-control" id="shipping_address"
                            placeholder="Enter Street Address">
                    </div>

                    <div class="row">
                        <div class="form-group form-inline col-6 p-0">
                            <label for="shipping_city">City:</label>
                            <input type="text" name="shipping_city" class="form-control-sm" id="shipping_city"
                                placeholder="City">
                        </div>
                        <div class="form-group form-inline col-6 p-0">
                            <label for="shipping_state">State:</label>
                            <input type="text" name="shipping_state" class="form-control-sm" id="shipping_state"
                                placeholder="State">
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group form-inline col-6 p-0">
                            <label for="shipping_zip">Zip Code:</label>
                            <input type="text" name="shipping_zip" class="form-control-sm" id="shipping-zip"
                                placeholder="Zip">
                        </div>
                        <div class="form-group form-inline col-6 p-0">
                            <label for="shipping_country">Country:</label>
                            <input type="text" name="shipping_country" class="form-control-sm" id="shipping_country"
                                placeholder="Enter last name">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="shipping_phone">Phone Number:</label>
                        <input type="text" name="shipping_phone" class="form-control" id="shipping_phone"
                            placeholder="Choose a user name">
                    </div>
                    <div class="form-group row">
                        <input type="submit" value="Next" class="form-control btn btn-light btn-block shadow">
                    </div>
                </form>


            </div>

        </div>

        <div class="footer text-center pt-3 pb-3 text-light"
            style="height:100px; background-image: linear-gradient(to right, black, slateblue  , darkred, black)">
            <p>
                <a class="text-light" href="/about">About Us </a>|
                <a class="text-light" href="/faq"> FAQ </a>|
                <a class="text-light" href="/contact"> Contact Us</a>

            </p>
            <p>
                <a class="mr-3" href=""><img style=" width: 30px" src="{% static 'images/fb.png' %}" alt="" />
                    @Strikers</a>
                <a class="mr-3" href=""><img style=" width: 30px" src="{% static 'images/ig.png' %}" alt="" />
                    @Strikers</a>
                <a class="mr-3" href=""><img style=" width: 30px" src="{% static 'images/t.png' %}" alt="">
                    @Strikers</a>
            </p>


        </div>

    </div>



    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


    <script src="{% static 'js/profile.js' %}"></script>
</body>

</html>