<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Success</title>
</head>

<body style="background-color: black">
    <div class="container vh-100 d-flex align-items-center">
        <div class="mx-auto">
            <div class="jumbotron" style="background-image: radial-gradient(ellipse, slateblue, darkred, darkred, black, black)">
                <h1 class="d-inline-block text-light" style="margin-right: 425px">Success! Welcome,
                    {{current_user.first_name}}!</h1>
                <a href="/" class="d-inline-block text-slateblue">Back to Home</a>
                <h3 class="text-light d-inline-block" style="margin-right: 450px">Successfully registered (or logged in)!</h3>
                <a href="/logout" class="d-inline-block text-slateblue" >Log Out</a>
            </div>
        </div>
    </div>
</body>

</html>